$typography: (
  font-family: 'Poppins, sans-serif',
  body-large: (
    font-size: 16px,
    line-height: 24px,
    font-weight: 400,
    letter-spacing: 0.5px
  ),
  headline-medium: (
    font-size: 28px,
    line-height: 36px,
    font-weight: 400,
    letter-spacing: 0
  )
);
