@use '@angular/material' as mat;
@use 'theme-colors.scss' as my-theme;

// 1. Charger Material Core
@include mat.core();

// 3. Définir le thème Material 3 complet
$my-theme: mat.define-theme((
  color: (
    theme-type: color-scheme,
    primary: my-theme.$primary-palette,
    tertiary: my-theme.$tertiary-palette,
  ),
  typography: Poppins,
  density: 0,
));

// 4. Appliquer à tous les composants
@include mat.all-component-themes($my-theme);

// 5. Appliquer les styles pour contraste élevé
@media (prefers-contrast: more) {
  @include my-theme.high-contrast-overrides(color-scheme);
}


.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.todo-form-card,
.todo-list-card {
  padding: 1rem;
  background: mat.get-custom($theme, surface-container-highest);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .todo-form-card,
  .todo-list-card {
    padding: 0.5rem;
  }
}
